@inject PlayerState PlayerState
@page "/"



<PageTitle>Home</PageTitle>
@if (PlayerState.Player != null)
{
    <p>Welcome, @PlayerState.Player.Name!</p>
}
<h1>Hello, world!</h1>

Welcome to your new app.
